[*.cs]

# RCS1139: Add summary element to documentation comment.
dotnet_diagnostic.RCS1139.severity = suggestion

# RCS1141: Add 'param' element to documentation comment.
dotnet_diagnostic.RCS1141.severity = suggestion
